  table {
    max-width: 500px;
    min-width: 300px;  
    padding: 10px;
    margin: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
  }
  
  select {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #reviews {
    margin-top: 10px;
  }
  
  #cat_des {
    max-width: 400px;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  button {
    width: 100%;
  }
  
  #submit {
    width: 50%;
  }
  
  
  /* text box for comment form */
  #form_body {
    width: 80%;
  }
  
  #comment_button {
    width: 100%;
  }
  
  
  
  
 
  
  #comments {
    flex: 1;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin: 10px;
    min-width: 120px;
  }