.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.article-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

.article-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
